{% extends "base.html" %}

{% block content %}
<!-- Page Header -->
<header class="masthead" style="background-image: url('static/img/base_header_pic.jpg ')">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
                <div class="site-heading">
                    <h1>Clinical Trials at NYC Hospital</h1>
                    <span class="subheading">Participating in our clinical trials gives you access to the latest
                        treatments and helps improve for generations to come</span>
                </div>
            </div>
        </div>
    </div>
</header>
{% for post in post_list %}
<div class="container px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
        <div class="col-md-10 col-lg-8 col-xl-7">
            <!-- Main Content -->

            <!-- Content Goes here -->

            <div class="container">

                
                <!-- Post preview-->
                <div class="post-preview">
                    <a href="{% url 'post_detail' post.slug %}">
                        <h2 class="post-title">{{ post.title }}</h2>
                        <h3 class="post-subtitle">{{ post.excerpt }}</h3>
                    </a>
                    <div class="row">
                        <div class="col-4 post-meta ">
                            <p class="post-meta">
                                <b>Diseases:</b> {{ post.primary_disease }}
                            </p>
                        </div>
                        <div class="col-4 post-meta ">
                            <p class="post-meta">
                            <b>Age:</b> {{ post.eligible_age_min }} - {{ post.eligible_age_max }}
                            </p>
                        </div>
                        <div class="col-4 post-meta gender">
                            <p class="post-meta">
                            <b>Gender:</b> {{ post.get_gender_display }}
                            </p>
                        </div>

                    </div>
                </div>
            </div>
            <hr class="my-4" />
        </div>
    </div>
   
</div>
<!-- Divider-->


{% endfor %}

{% if is_paginated %}
<nav aria-label="Page navigation">
    <ul class="pagination justify-content-center">
        {% if page_obj.has_previous %}
        <li><a href="?page={{ page_obj.previous_page_number }}" class="page-link">&laquo; PREV </a></li>
        {% endif %}
        {% if page_obj.has_next %}
        <li><a href="?page={{ page_obj.next_page_number }}" class="page-link"> NEXT &raquo;</a></li>

        {% endif %}
    </ul>
</nav>
{% endif %}
</div>

{%endblock%}