{% extends "base.html" %}

{% block content %}
{% load crispy_forms_tags %}

<body>

  <!-- Page content-->
  <div class="container mt-5">
    <div class="row">
      <div class="col">
        <!-- Post content-->
        <article>
          <!-- Post header-->
          <header class="mb-4">
            <!-- Post title-->
            <h1 class="fw-bolder mb-1 ">{{post.title}}</h1>
            <!-- Post meta content-->
            <div class="text-muted fst-italic mb-2">{{post.excerpt}}</div>
            <!-- Post categories-->
            <a class="badge bg-secondary text-decoration-none link-light" href="#!">Web Design</a>
            <a class="badge bg-secondary text-decoration-none link-light" href="#!">Freebies</a>
          </header>
          <!-- Preview image figure-->
          {% if "placeholder" in post.main_image.url %}
          <img class="card-img-top" src="url('static/img/base_header_pic.jpg ')" alt="post-image-default">

          {% else %}
          <figure class="mb-0"><img class="figure-img img-fluid rounded" src=" {{ post.main_image.url }} "
              alt="post_image"></figure>
          {% endif %}
          <!-- Post content-->
          <section class="mb-5">
            <div class="row">
              <div class="col-lg-6 col-md-6">
                <p><b>Principal Investigator:</b> {{post.prin_invest}}</p>
              </div>
              <div class="col-lg-6 col-md-6">
                <p><b>IRB Number:</b> {{post.irb_number}}</p>
              </div>
            </div>
            <div class="row">
              <div class="col-lg-6 col-md-6">
                <p><b>Contact Name:</b> {{post.contact_name}}</p>
              </div>
              <div class="col-lg-6 col-md-6">
                <p><b>Email:</b> {{post.contact_email}}</p>
              </div>
            </div>
            <div class="row">
              <div class="col-lg-6 col-md-6">
                <p><b>Age:</b> {{post.eligible_age_min}} - {{post.eligible_age_max}}</p>
              </div>
              <div class="col-lg-6 col-md-6">
                <p><b>Gender:</b> {{post.get_gender_display}}</p>
              </div>
            </div>
            <div class="row">
              <div class="col-lg-6 col-md-6 mx-auto">
                <p><b>Start Date:</b> {{post.start_dt}}</p>
              </div>
              <div class="col-lg-6 col-md-6 mx-auto">
                <p><b>End Date:</b> {{post.end_dt}}</p>
              </div>
            </div>
            <div class="row">
              <div class="col-lg-12 col-md-12 mx-auto">
                <p><b>Diseases:</b> {{ post.primary_disease }}</p>
              </div>
            </div>
            <div class="row">
              <div class="col-lg-12 col-md-12 mx-auto">
                <p>{{post.content | safe }}</p>
              </div>
            </div>
            <div class="row">
              <div class="col-6">
                <strong>
                  {% if user.is_authenticated %}
                  <form class="d-inline" action="{% url 'post_enroll' post.slug %}" method="POST">
                    {% csrf_token %}
                    {% if enrolled %}
                    <button type="submit" name="blogpost_id" value="{{post.slug}}" class="btn-like"
                      style="color: red">Leave</button>
                    {% else %}
                    <button type="submit" name="blogpost_id" value="{{post.slug}}" class="btn-like"
                      style="color: blue">Enroll</button>
                    {% endif %}
                  </form>
                  {% else %}
                  <span class="text-secondary"></span>
                  {% endif %}
                  <!-- The number of likes goes before the closing strong tag -->
                  <span class="text-secondary">Number of participants currently enrolled: {{ post.no_enrolled }} </span>
                </strong>
              </div>
            </div>
          </section>
          <section class="mb-5">
            <div class="card bg-light">
              <div class="card-body">
                <h3>Questions:</h3>
                {{ asked }}

                {% if asked %}
                <div class="alert alert-success" role="alert">
                  Your question is awaiting approval
                </div>
                {% else %}
                {% if user.is_authenticated %}

                <p>Posting as: {{ user.username }}</p>
                <form method="post" class="mb-4">
                  {{ question_form | crispy }}
                  {% csrf_token %}
                  <button type="submit" class="btn-like">Submit</button>
                </form>
                {% endif %}
                {% endif %}
                <!--question-->
                <div class="d-flex">
                  <div class="ms-3">
                    {% for question in questions %}
                    <div class="fw-bold">questioner Name</div>
                    <div class="questions" style="padding: 10px;">
                      <p class="font-weight-bold">
                        <!-- The questioner's name goes here. Check the model if you're not sure what that is -->
                        {{ question.name }}
                        <span class=" text-muted font-weight-normal">
                          <!-- The question's created date goes here -->
                          {{ question.created_on }}
                        </span> wrote:
                      </p>
                      <!-- The body of the question goes before the | -->
                      {{ question.body | linebreaks }}
                    </div>
                    <!-- Our for loop ends here -->
                    {% endfor %}
                  </div>
                </div>
              </div>
            </div>

          </section>
        </article>
      </div>
    </div>
  </div>

</body>

{% endblock content %}